@import "tailwindcss";


/* .data{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}
.data p{
  margin: 0;
}






.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.main{
  display: flex;
  /* justify-content: center; */
  /* align-items: center;
  flex-direction: column;
} */
/* h1{ */
  /* font-size: 8rem; */
  
/* } */
/* #decrease{
  border: none;
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: green;
  font-weight: 500;
  border-radius: 8px; */ 
/* }
#increase{
  border: none;
  margin: 5px;
  padding: 10px; */
  /* color: white;
  background-color: green;
  font-weight: 500;
  border-radius: 8px;
}
#reset{
  border: none;
  margin: 5px;
  padding: 10px; */
  /* color: white;
  background-color: red;
  font-weight: 500;
  border-radius: 8px;
}
.negative{
  color: red;
} */
 /* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 :root{
  --red:#d01c28;
  --gray:#2e2e2e;

 }
.logo img{
  all: unset;
  width: 100px;
  height: 32px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto;
  margin-left: 100px;
  margin-right: 100px;
  height: 72px;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
}
nav button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}
.main{
  display: flex;
  margin: 0 auto;
  width: 1280px;
  justify-content: center;
  align-items: center;
  height: calc(100vh-72px);
  margin-top: 100px;
}
.brand-icon{
  display: flex;
  height: 100px;
  gap: 16px;
}
.Hero-content{
  width: 50%;
  display: flex;
  gap: 36px;
  flex-direction: column;
}
.Hero-content h1{
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
 
}
.Hero-content p{
  max-width: 400px;
color: var(--gray);
  font-weight: 600;
  
}
.Hero-button{
  display: flex;
  gap: 40px;
  font-size: 24px;
}
.btn1{
  background-color: #d01c28;
  color: white;
  padding: 10px;
}
.btn2{
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
  padding: 10px;
}
.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
}
.Hero-image{
  transform: scale(1.5);
margin-right:4px ;
} */

/* .para{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: green;
}
.btn{
  margin: 20px;
  background-color:red ;
  border-radius: 50px;
  padding: 10px;
color: white;
}
.btn1{
  border-radius: 50px;
  padding: 10px;
  background-color: red;
  color: white;
  gap: 5px;

}
.div{
border-radius: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:400px ;
  flex-direction: column;
  background-color:yellow;
  font-style: italic;
  width: 400px;
  height: 400px;
} */

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}
.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}
.display{
  font-family: monospace;
  font-weight: bold;
  font-size: 5rem;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsl(0, 0%, 0%,0.75);
  margin-bottom: 25%;
}
.controle button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius:10px ;
  cursor: pointer;
  /* background-color: gray; */
  color: white;
  transition: background-color 05s ease;
}
.start{
  background-color: hsl(115, 100%, 40%);
}
.start:hover{
  background-color: hsl(115, 100%, 30%);
}

.stop{
  background-color: hsl(10, 90%, 50%);
}
.stop:hover{
  background-color: hsl(10, 90%, 40%);
}
.reset{
  background-color: hsl(205, 90%, 60%);
}
.reset:hover{
  background-color: hsl(205, 90%, 50%);
}
