.data{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}
.data p{
  margin: 0;
}






.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.main{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
h1{
  font-size: 8rem;
  
}
#decrease{
  border: none;
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: green;
  font-weight: 500;
  border-radius: 8px;
}
#increase{
  border: none;
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: green;
  font-weight: 500;
  border-radius: 8px;
}
#reset{
  border: none;
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: red;
  font-weight: 500;
  border-radius: 8px;
}
.negative{
  color: red;
}
